* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

/vendor/
node_modules/
npm-debug.log
yarn-error.log


# Laravel 5 & Lumen specific
public/storage


storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
